<div class="gallery-container">
  <div class="index-container">
    <div class="index">
      <ul>
        <li><a href="/projects/category1">Catégory 1</a></li>
        <li><a href="/projects/category2">Catégory 2</a></li>
      </ul>
    </div>
  </div>
  <div class="cards-container">
    <div class="card" id="category1">
      <h3>ProjectName</h3>
      <p>summary</p>
      <span>githubLink</span>
    </div>

    <div class="card" id="category2">
      <h3>ProjectName2</h3>
      <p>summary</p>
      <span>githubLink</span>
    </div>
  </div>
</div>