<div class="card">
    <div class="card-content">
        <div class="left-column">
          <div class="image-wrapper">
            <img src="/assets/images/lama.png" type="image" alt="Avatar">
          </div>
            <div class="text">
                <h4><b>Vincent Lemaire</b></h4>
            </div>
            <div class="network">
                    <a href="https://www.linkedin.com/in/vincent-lemaire-37b603161/" target="_blank" type="image">
                        <img src="/assets/images/LinkedInIcon.png" alt="LinkedinIcon"></a>
                    <a href="https://github.com/vlemGit" target="_blank" type="image">
                        <img src="/assets/images/GithubIcon.png" alt="GithubIcon"></a>
                    <a href="#projects" type="image">
                        <img src="/assets/images/Projects.png" alt="ProjectIcon"></a>
            </div>
        </div>
    </div>
</div>
