.card {
    
    display: grid;
    width: 400px;
    grid-template-columns: 1fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    background-color: rgba(233, 200, 200, 0.623);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.image-wrapper {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Conserver le ratio d'aspect sans déformation */
}

.card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-column {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.network {

    img:hover{
        text-decoration: none;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
    }
    a {
        padding: 5px;
    }
}

.text {
    text-align: center;
}