<main>
    <div class="card">
      <div class="card-content">
      <img src="/assets/images/lama.png" type="image" alt="Avatar">
        <div class="text">
          <h4><b>Vincent Lemaire</b></h4>
          <p>Développeur</p>
        </div>
        <div class="presentation">
          <a>
            BlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablabla
            BlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablabla
            BlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablabla
            BlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablabla
            BlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablabla
            BlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablabla
            Blablabla8lablablaBlablablaBlablablaBlablabla8lablablaBlablablaBlablabla
            BlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablabla
            BlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablabla
            BlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablabla
          </a>
        </div>
      </div>
    </div>
</main>