<div class="text-container">
    <p>
        BlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablabla
        BlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablabla
        BlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablabla
        BlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablabla
        BlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablabla
        BlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablabla
        Blablabla8lablablaBlablablaBlablablaBlablabla8lablablaBlablablaBlablabla
        BlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablabla
        BlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablabla
        BlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablabla
    </p>
</div>